# ======================================================================
# Root Kustomization for Stage Environment
#
# Purpose:
# - Aggregate all stage-level Kubernetes resources
# - Act as the single entry point for ArgoCD
#
# ArgoCD points to:
# - kubernetes/stage
# - This file fully defines the stage environment
# ======================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ----------------------------------------------------------------------
# Resources
# ----------------------------------------------------------------------
resources:
- namespace.yaml
- backend
- frontend-admin
- frontend-customer
- ingress.yaml

# ----------------------------------------------------------------------
# Image overrides (Stage)
# Jenkins updates ONLY the tag via GitOps
#
# IMPORTANT:
# - image `name` MUST match logical image name used in deployments
# - registry and tag are injected here
# ----------------------------------------------------------------------



images:
- name: acrframelystage.azurecr.io/framely-backend
  newName: acrframelystage.azurecr.io/framely-backend
  newTag: 0.1.0-0236f9b
- name: acrframelystage.azurecr.io/framely-frontend-admin
  newName: acrframelystage.azurecr.io/framely-frontend-admin
  newTag: 0.1.0-0236f9b
- name: acrframelystage.azurecr.io/framely-frontend-customer
  newName: acrframelystage.azurecr.io/framely-frontend-customer
  newTag: 0.1.0-0236f9b
- name: framely-backend
  newName: acrframelystage.azurecr.io/framely-backend
  newTag: 0.1.0-2b27f5d
- name: framely-frontend-admin
  newName: acrframelystage.azurecr.io/framely-frontend-admin
  newTag: 0.1.0-2b27f5d
- name: framely-frontend-customer
  newName: acrframelystage.azurecr.io/framely-frontend-customer
  newTag: 0.1.0-2b27f5d
