# ======================================================================
# Root Kustomization for Stage Environment
#
# Purpose:
# - Aggregate all stage-level Kubernetes resources
# - Act as the single entry point for ArgoCD
#
# ArgoCD points to this directory:
# - kubernetes/stage
# - This file controls what gets deployed
# ======================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ----------------------------------------------------------------------
# Namespace definition
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# Application and service components
# Each sub-directory has its own kustomization.yaml
# ----------------------------------------------------------------------
resources:
- namespace.yaml
- database
- backend
- frontend-admin
- frontend-customer

# image overrides for stage environment


images:
- name: framely/backend
  newName: mrsharma151/framely-backend
  newTag: 1.0.7
- name: framely/frontend-admin
  newName: mrsharma151/framely-frontend-admin
  newTag: 1.0.5
- name: framely/frontend-customer
  newName: mrsharma151/framely-frontend-customer
  newTag: 1.0.6
- name: mrsharma151/backend
  newName: mrsharma151/backend
  newTag: 0.1.0-5d98e22
- name: mrsharma151/frontend-admin
  newName: mrsharma151/frontend-admin
  newTag: 0.1.0-5d98e22
- name: mrsharma151/frontend-customer
  newName: mrsharma151/frontend-customer
  newTag: 0.1.0-5d98e22
