# ======================================================================
# Root Kustomization for Stage Environment
#
# Purpose:
# - Aggregate all stage-level Kubernetes resources
# - Act as the single entry point for ArgoCD
#
# ArgoCD points to this directory:
# - kubernetes/stage
# - This file controls what gets deployed
# ======================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ----------------------------------------------------------------------
# Namespace definition
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# Application and service components
# Each sub-directory has its own kustomization.yaml
# ----------------------------------------------------------------------
resources:
- namespace.yaml
- database
- backend
- frontend-admin
- frontend-customer

# image overrides for stage environment


images:
- name: framely/backend
  newName: "null"
- name: framely/frontend-admin
- name: framely/frontend-customer
