apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ------------------------------------------------------------
# Namespace is defined at env level and inherited by resources
# ------------------------------------------------------------
namespace: framely-prod

resources:
  - deployment.yaml
  - service.yaml
  - secret.yaml
