apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: framely-prod
  labels:
    app: backend
spec:
  # ------------------------------------------------------------
  # Internal service only (Ingress will expose it)
  # ------------------------------------------------------------
  type: ClusterIP

  selector:
    app: backend

  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
