apps:
  # --------------------------------------------------------------------
  # Backend API service
  # --------------------------------------------------------------------
  - name: backend
    type: backend
    path: apps/backend


  # --------------------------------------------------------------------
  # Admin Frontend Application
  # --------------------------------------------------------------------
  - name: frontend-admin
    type: frontend
    path: apps/frontend-admin
    testCommand: npm test
    securityCommand: npm audit --audit-level=high

    buildArgs:
      NEXT_PUBLIC_BASE_PATH: /admin
      NEXT_PUBLIC_API_BASE_URL: http://localhost/api


  # --------------------------------------------------------------------
  # Customer Frontend Application
  # --------------------------------------------------------------------
  - name: frontend-customer
    type: frontend
    path: apps/frontend-customer
    testCommand: npm test
    securityCommand: npm audit --audit-level=high

    buildArgs:
      NEXT_PUBLIC_BASE_PATH: /app
      NEXT_PUBLIC_API_BASE_URL: http://localhost/api
